@()

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <title>Beez</title>
  <style type="text/css">
  body {
    background: #000;
    color: #fff;
  }
  button {
    text-decoration: none;
    line-height: 2em;
    font-size: 2em;
    font-family: sans-serif;
    min-width: 300px;
    display: inline-block;
  }
  </style>
</head>
<body>
  <form action="@routes.Application.newHive()" method="POST">
    <button type="submit">
      Create a new <strong>Hive</strong>
    </button>
  </form>
</body>
</html>
